@model ICollection<PandaWebApp.ViewModels.Blog.Entry>
@{
    ViewBag.Title = "Мой блог";
}


<h2>Уютный блог Панды</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary();
    
    foreach (var iter in Model)
    {
        <br/><br/>
       
        <div class="full-info">
            
            <a href="./ViewPost?id=@iter.Id">
                <div class="header">@iter.Title</div>
            </a>
        
            <div class="label"> @iter.ShortText</div>
    
        
       
            <div class="label">Был создан: @iter.CreatedDate</div><br/>
            <a href="./ViewPost?id=@iter.Id">Читать дальше</a>

        </div>
    }
    
    <br/><br/>
    
    <div class="label">
        <p>Всего постов: @Model.Count <a href="./Create">Создать пост</a></p>
    </div>

}




   
